<form action="/" method="GET" class="well form-search" id="search-form">
	<input type="text" class="input-large search-query" placeholder="Search Pivotal Stories">
	<button type="submit" class="btn">Search</button>
</form>

<div id="pivotal-projects"></div>

<script type="text/html" id="project">
	<div class="row" data-project-name="{{ name }}" data-project-id="{{ id }}">
		<h4><a name="{{ name }}">{{ name }}</a></h4>
		<ul class="thumbnails"></ul>
	</div>
</script>

<script type="text/html" id="story">
	<li class="span6">
		<div class="thumbnail">
			<header class="row">
				<div class="span4">
					<h5>
						<span class="label" data-story-type="{{ story_type }}">{{ story_type }}</span> 
						<span data-story-name="{{ name }}">{{ name }}</span>
					</h5>
					<h5 data-story-owner="{{ owned_by }}">
						<span class="label label-info">Owner</span>
						{{ owned_by }}
					</h5>
				</div>
				<h6 class="pull-right">
					<span data-story-estimate="{{ estimate }}">{{ estimate }}</span>
					<span class="label label-state" data-story-current-state="{{ current_state }}">{{ current_state }}</span>
				</h6>
			</header>
			<p class="story-description">{{ description }}</p>
		</div>
	</li>
</script>

<script>
	var projects = new Backbone.Collection({
		url: "/projects"
	});
	
	var stories = new Backbone.Collection({
		url: "/stories"
	});
</script>