<form action="/" method="GET" class="well form-search" id="search-form">
	<input type="text" class="input-large search-query" placeholder="Search Pivotal Stories">
	<button type="submit" class="btn">Search</button>
</form>

<div id="pivotal-projects">
	<h4 id="waiting">Fetching stories from Pivotal...</h4>
	<h4 id="number-of-results"></h4>
	<ul class="thumbnails"></ul>
</div>

<%= File.read(File.join(settings.public_folder, "story-template.html")) %>