<form action="/" method="GET" class="well form-search" id="search-form">
	<input type="text" class="input-large" id="search-query" placeholder="Search Pivotal Stories">
	<button type="submit" class="btn">Search</button>
</form>