<script type="text/html" id="story">
	<li class="span6">
		<div class="thumbnail">
			<header class="row">
				<div class="span4">
					<h5>
						<span class="label" data-story-type="{{ story_type }}">{{ story_type }}</span> 
						<span data-story-name="{{ name }}">{{ name }}</span>
					</h5>
					<h5 data-story-owner="{{ owned_by }}">
						<span class="label label-info">Owner</span>
						{{ owned_by }}
					</h5>
				</div>
				<h6 class="pull-right">
					<span data-story-estimate="{{ estimate }}">{{ estimate }}</span>
					<span class="label label-state" data-story-current-state="{{ current_state }}">{{ current_state }}</span>
				</h6>
			</header>
			<p class="story-description">{{ description }}</p>
			<p><a href="/project/{{ project_id }}/story/{{ id }}" target="_blank">Print</a></p>
		</div>
	</li>
</script>